<ion-view view-title="Афиша">
  <ion-content class="padding">
    <h2 class="text-center">Не пропустите!</h2>
    <img src="img/dwp.jpg" align="left" style="max-height: 200px; max-width: 200px; padding: 10px;"/>
    <p>
      Этот ресторан носит имя знаменитой оперы композитора Джузеппе Верди, который провел в Grand Hotel et de Milan
      более двадцати лет. Вас ждет уютный зал, оформленный живописными полотнами, гравюрами и миниатюрами из коллекции
      музея театра "Ла Скала", антикварные серебряные канделябры и классическая музыка. Ведущие гастрономические
      итальянские журналы называют ресторан "Дон Карлос" среди самых изысканных ресторанов Милана, где прекрасный
      интерьер и идеальное обслуживание сочетаются с высоким искусством кулинарии. Ужин сервируется до позднего времени
      - после окончания спектакля двери ресторана открыты для гостей отеля и завсегдатаев театра "Ла Скала". А под залом
      ресторана расположен винный погреб, где можно найти вина ведущих производителей Ломбардии.
    </p>
  </ion-content>
</ion-view>
